@use 'sass:map';

.current-target {
  // &__heading {
  // }

  &__details {
    margin-top: toRem(48);
    display: flex;
    gap: toRem(24);

    .details-box {
      padding: toRem(40);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff6f4;
      border-radius: toRem(16);
      min-width: toRem(364);
      gap: toRem(24);

      &:nth-of-type(even) {
        background-color: #f2f6fe;
      }

      figure {
        height: toRem(56);
        aspect-ratio: 1 / 1;
        width: max-content;
      }

      h1 {
        color: #0d1321;
        font-size: toRem(24);
        font-weight: map.get($font-weight, ExtraBold);
      }

      p {
        color: #0d1321;
        margin-top: toRem(8);
      }

      a {
        display: inline-block;
        color: #0d1321;
        font-weight: map.get($font-weight, Bold);
      }
    }
  }
}
