@use 'sass:map';

.feedback {
  margin-top: toRem(50);
  color: #ffffff;

  .container {
    padding: toRem(64) toRem(48);
    background-image: url('/images/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: toRem(16);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      inset: 0;
      background-color: #000;
      opacity: 0.5;
      z-index: 2;
    }
  }

  &__form {
    max-width: 60%;
    z-index: 3;
  }

  h1 {
    font-size: toRem(32);
    font-weight: map.get($font-weight, Bold);
  }

  p {
    margin-top: toRem(16);
    line-height: 1.4;
  }

  form {
    margin-top: toRem(24);
    display: flex;
    gap: toRem(16);

    input {
      padding: toRem(20);
      flex-grow: 1;
      border-radius: toRem(8);
      border: none;
      outline: none;

      &::placeholder {
        font-size: toRem(16);
        color: #9ea1a6;
      }
    }

    button {
      font-size: toRem(20);
      font-weight: map.get($font-weight, SemiBold);
      color: #0D1321;
      background-color: #fff;
      cursor: pointer;
    }
  }
}
