@use 'sass:map';

.inspiration {
  padding-block: toRem(90);

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    gap: toRem(24);

    h1 {
      font-size: toRem(32);
      font-weight: map.get($font-weight, ExtraBold);
    }
  }

  &__video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: toRem(48);
    padding: toRem(32);
    border-radius: toRem(16);
    border: toRem(2) solid #a8aaaf;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: toRem(16);
    }
  }
}
